@page "/profile"
@inject NavigationManager UriHelper
@inject IUserService userService
@inject HttpClient Http
<h1>Profile</h1>

@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Perfonal information</h5>
        <EditForm Model="@profileModel" OnValidSubmit="@ChangeData">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email">Email address</label>
                <InputText id="email" class="form-control" @bind-Value="profileModel.Email" />
                <ValidationMessage For="@(() => profileModel.Email)" />
            </div>
            <div class="form-group">
                <label for="email">Login</label>
                <InputText id="login" class="form-control" @bind-Value="profileModel.Login" />
                <ValidationMessage For="@(() => profileModel.Login)" />
            </div>
            <div class="form-group">
                <label for="password">Old Password</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="profileModel.OldPassword" />
                <ValidationMessage For="@(() => profileModel.OldPassword)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="profileModel.Password" />
                <ValidationMessage For="@(() => profileModel.Password)" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>

@code {

    private ProfileModel profileModel = new ProfileModel();

    private bool ShowErrors;    
    private IEnumerable<string> Errors;

    private async Task ChangeData()
    {
        ShowErrors = false;
        var result = await userService.ChangeData(profileModel);

        if (!result.Successful)
        {
            Errors = result.Errors;
            ShowErrors = true;
        }
        else
        {
            UriHelper.NavigateTo("/", forceLoad: true);
        }
    }
}